*{
	margin:0;
	padding:0;
	margin:0 auto;
}
#container{
	width:100%;
	height:2000px;

}

/* 列表页面的头部 */
.header{
	width:1423px;
	height:650px;
	border:1px solid red;
	text-align:center;
	margin:0 auto;
	.bj{
		position: relative;
		
		img{
			width:1423px;
		}
		.bj-one{
			position: absolute;
			top: 260px;
			left:220px;
			width:360px;
			height:102px;
			padding:15px;
			background:rgba(0,0,0,.4);
			h2{

				color:white;
				font-size:20px;
				line-height:20px;
				margin-bottom:15px;
			}
			div{
				margin-bottom:15px;
				input{
					float:left;
					width:268px;
					height:36px;
					padding:0px 22px;
					border-radius:4px;
					border-style:none;

				}
				a{
					display:block;
					float:right;
					width:36px;
					height:36px;
					background:#ff9d00;
					text-align:center;
					line-height:36px;
					border-radius:4px;
					.iconfont{
						color:white;
						font-size:26px;


					}
				}
			}
			p{
				float:left;
				margin-top:15px;
				width:360px;
				height:16px;
				// background:pink;
				a{
					color:white;
					font-size:14px;
					line-height:16px;
					margin-right:5px;

				}
			}


		}
		.bj-two{
			position: absolute;
			top: 220px;
			left:750px;
			width:535px;
			height:170px;
			// background:pink;
			padding:0px 30px;
			border-right:7px solid white;
			h2{
				a{
					line-height:39px;
					font-size:30px;
					color:#fff;
					&:hover{
						color:#ff9d00;
					}
				}
			}
			p{
				color:#fff;
				line-height:28.8px;
				font-size:16px;
			
			}
			a{
				color:#fff;
				line-height:32.4px;
				font-size:18px;

				&:hover{
					color:#ff9d00;
					text-decoration:underline;
				}

			}


		}
		.bj-san{
			display:block;
			position: absolute;
			top:640px;
			left:700px;
			a{
				.iconfont{

					color:white;
					font-size:20px;
				}
			}
			
		}
		.bj-si{
			position:absolute;
			top: 640px;
			left:1200px;
			width:175px;
			height:28px;
			// border:1px solid red;
			a{
				float:left;
				color:white;
				padding:0px 10px;
			}
		}
	}
	
}

/* 列表页面的头部 */
/* 列表的主题部分 */
.section{
	position: relative;
	top:80px;
	width:1423px;
	height:2000px;
	// background:#ddd;
	border:1px solid blue;
	margin:0 auto;
	text-align:center;

	.biaoti{
		 position: absolute;
		 top: 0px;
		 left:0px;
		 width:1000px;
		 // height:100%;
		 // border:1px solid red;
		 margin:0px 211.5px;
		
		 h1{
			position: absolute;
			top: 42px;
			left:435px;
			font-size:26px;
			

		 }
		.xxk{
			position: absolute;
			top: 85px;
			left:0px;
			width: 1000px;
			height: 100%;
			// border: 1px solid yellow;
			// background:pink;

			span{
				float:left;
				line-height:37px;
				color:#eee;
			}
			
			.xxk-one{
				/*清除li浮动的影响,直接给ul做overflow:hidden*/
				// background:red;
				width:1000px;
				height:37px;
				margin-left:125px;
				overflow: hidden;
				list-style: none;
			}
			ul>li{
				float: left;
				// width: 150px;
				height: 37px;
				margin: 0px 22px;
				line-height: 37px;
				// text-align: center;
				a{
					font-size:18px;
					color:#333;
				}
				// background-color: #ddd;
			}

			.content{
				margin-top:40px;
				width: 1000px;
				// height: 600px;
				// background-color: white;
				// border:1px solid blue;
				div{
					width:1000px;
					// height:300px;
					// background:pink;
					.con-a{
						float:left;
						width:470px;
						height:65px;
						border-bottom:1px dashed #eee;
						// background:white;
						// margin-right:30px;
						span{
							color:#333;
							font-size:14px;
							line-height:65px;
							margin-right:10px;
							a{
								color:#666;
							}
						}
						li{
							margin-left:0px;
							line-height:65px;
							margin-right:50px;
							a{
								margin-left:0 auto;
								font-size:14px;

								// margin:0 auto;
							}
						}
					}

					.con-b{
						float:right;
						width:470px;
						height:65px;
						border-bottom:1px dashed #eee;
						// background:white;
						// margin-right:30px;
						span{
							color:#333;
							font-size:14px;
							line-height:65px;
							margin-right:10px;
							a{
								color:#666;
							}
						}
						li{
							margin-left:0px;
							line-height:65px;
							margin-right:50px;
							a{
								margin-left:0 auto;
								font-size:14px;

								// margin:0 auto;
							}
						}
					}

				}

			}

			.active{
				a{
				color:#ff9d00;

				}
			}
			.hide{
				display: none;
			}

			.fenglan{
			
				img{
					margin-left:-150px;
				}
				
			}


		}
			    

    }

	

}
/* 列表的主题部分 */