@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

#container {
  width: 100%;
  height: 2000px;
  font-size: 0px; }

/* 页面的头部 导航栏 */
.header {
  height: 58px;
  background-color: #fff; }
  .header .nav {
    width: 1000px;
    height: 58px;
    line-height: 58px;
    margin: 0 auto; }
    .header .nav .xbk {
      border-bottom: 3px solid white; }
      .header .nav .xbk:hover {
        border-bottom: 3px solid #ff9d00; }
      .header .nav .xbk:hover a {
        color: #ff9d00; }
    .header .nav .xiala {
      border-top: 3px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white; }
      .header .nav .xiala:hover {
        border-top: 3px solid #ff9d00;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd; }
      .header .nav .xiala:hover > a {
        color: #ff9d00; }
    .header .nav .jlt {
      float: left;
      width: 150px;
      height: 48px;
      background: url(../images/jlt.png) 0 0;
      margin-top: 11px; }
    .header .nav .xbk-a {
      background: #ff9d00; }
      .header .nav .xbk-a a {
        color: white; }
        .header .nav .xbk-a a:hover {
          color: white; }
    .header .nav > ul li {
      float: left;
      height: 58px;
      line-height: 58px;
      padding: 0 16px 0 16px;
      list-style: none; }
      .header .nav > ul li:hover .xbk-a {
        color: white; }
      .header .nav > ul li:hover .a {
        color: #FF9D00; }
      .header .nav > ul li:hover .nav-ziyou {
        display: block; }
      .header .nav > ul li:hover .nav-shequ {
        display: block; }
    .header .nav a {
      font-size: 14px;
      color: black; }
    .header .nav i {
      font-size: 12px; }
    .header .nav .nav-ziyou {
      z-index: 1;
      display: none;
      position: absolute;
      top: 58px;
      left: 585px;
      width: 145px;
      height: 280px;
      background: white; }
      .header .nav .nav-ziyou ul {
        width: 145px;
        height: 200px; }
        .header .nav .nav-ziyou ul li {
          border: none;
          width: 112px;
          height: 45px;
          line-height: 35px; }
          .header .nav .nav-ziyou ul li:hover {
            background: #EEEEEE; }
          .header .nav .nav-ziyou ul li .iconfont {
            color: red;
            font-size: 35px;
            margin-top: 5px; }
        .header .nav .nav-ziyou ul span {
          padding: 0px 3px;
          background: red;
          margin-left: 5px;
          font-size: 12px;
          color: white; }
          .header .nav .nav-ziyou ul span .span-new {
            background: #1EC896; }
    .header .nav .nav-shequ {
      z-index: 1;
      display: none;
      position: absolute;
      top: 58px;
      left: 760px;
      width: 290px;
      height: 290px;
      background: white; }
      .header .nav .nav-shequ span {
        padding: 0px 3px;
        background: red;
        margin-left: 5px;
        font-size: 12px;
        color: white; }
        .header .nav .nav-shequ span .span-new {
          background: #1EC896; }
      .header .nav .nav-shequ .shequ-a {
        margin: 0px;
        float: left;
        width: 150px;
        height: 100%;
        border: 1px solid red;
        font-size: 16px;
        line-height: 35px; }
      .header .nav .nav-shequ .shequ-b {
        list-style-type: none;
        float: right;
        width: 120px;
        height: 100%;
        line-height: 30px;
        border: 1px solid pink; }
  .header .nav-right {
    float: right;
    width: 200px;
    height: 58px;
    line-height: 58px;
    text-align: center; }
    .header .nav-right a {
      display: block;
      float: left;
      color: #FF9D00; }
      .header .nav-right a span {
        color: #333;
        margin: 0px 10px; }
      .header .nav-right a i {
        font-size: 30px;
        margin-right: 6px; }
        .header .nav-right a i:hover {
          color: red; }

/* 页面的头部 导航栏 */
/* 页面的主体部分 轮播图 */
.lunbo {
  z-index: -1;
  position: relative;
  width: 1423px;
  height: 474px;
  border: 1px solid blue;
  margin-bottom: 30px; }
  .lunbo .lunbo-one li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    text-align: center; }
    .lunbo .lunbo-one li img {
      width: 1423px;
      height: 474px; }
  .lunbo .lunbo-one li:first-child {
    display: block; }
  .lunbo .lunbo-two {
    position: absolute;
    top: 40px;
    left: 1270px; }
    .lunbo .lunbo-two li {
      margin-top: 5px; }
  .lunbo .lunbo-three {
    position: absolute;
    top: 0px;
    left: 210px;
    font-size: 20px;
    color: white; }
    .lunbo .lunbo-three ol {
      position: absolute;
      top: 0;
      left: 0;
      width: 400px;
      height: 60px;
      display: none; }
      .lunbo .lunbo-three ol li {
        margin: 5px; }
  .lunbo .lunbo-three ol:first-child {
    display: block; }
  .lunbo .lunbo-si {
    position: absolute;
    top: 320px;
    left: 450px;
    width: 518px;
    height: 69px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6); }
    .lunbo .lunbo-si .radio {
      width: 100%;
      height: 26px;
      font-size: 14px;
      color: white;
      display: flex; }
      .lunbo .lunbo-si .radio span {
        margin-top: 3px;
        margin-right: 20px; }
      .lunbo .lunbo-si .radio .radios {
        height: 26px;
        display: flex; }
      .lunbo .lunbo-si .radio .yuandian {
        width: 16px;
        height: 16px;
        border: 1px solid #FF9D00;
        border-radius: 50%;
        background-color: white;
        margin-right: 5px; }
        .lunbo .lunbo-si .radio .yuandian .yuanxin {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin: 3px 3px; }
        .lunbo .lunbo-si .radio .yuandian .radio:hover .yuanxin {
          background-color: #FF9D00; }
    .lunbo .lunbo-si .search {
      overflow: hidden; }
      .lunbo .lunbo-si .search ul {
        width: 540px;
        height: 45px; }
      .lunbo .lunbo-si .search ul li {
        position: relative;
        height: 50px;
        margin-top: 5px; }
        .lunbo .lunbo-si .search ul li input {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 445px;
          height: 36px;
          border-radius: 5px;
          padding: 0px 11px 0px 20px;
          border: none; }
      .lunbo .lunbo-si .search img {
        position: absolute;
        top: 0px;
        left: 480px;
        width: 25px;
        height: 25px;
        background: #FF9D00;
        border-radius: 5px;
        padding: 6px; }
    .lunbo .lunbo-si .wenzi {
      position: absolute;
      top: 110px;
      left: 0px;
      width: 546px;
      height: 18px;
      font-size: 14px;
      color: white;
      overflow: hidden;
      line-height: 19px; }
      .lunbo .lunbo-si .wenzi p a {
        color: #FF9D00; }

/* 页面的主体部分 轮播图 */
/* 页面的主题内容 左右两面 */
.section {
  width: 1000px;
  height: 2224px;
  margin: 0 auto; }
  .section .section-l {
    float: left;
    width: 260px;
    height: 1738px; }
    .section .section-l .lvxing {
      width: 260px;
      height: 36px; }
      .section .section-l .lvxing a {
        color: black;
        font-size: 18px;
        color: #333; }
        .section .section-l .lvxing a span {
          float: right;
          font-size: 14px;
          color: #999; }
    .section .section-l .lv-lunbo {
      position: relative;
      width: 260px;
      height: 241px;
      font-size: 14px;
      overflow: hidden; }
      .section .section-l .lv-lunbo ul li {
        width: 260px;
        height: 241px; }
        .section .section-l .lv-lunbo ul li h3 {
          margin-top: 10px; }
          .section .section-l .lv-lunbo ul li h3 a {
            font-size: 16px;
            color: #333; }
        .section .section-l .lv-lunbo ul li p {
          color: #333;
          line-height: 20px; }
      .section .section-l .lv-lunbo ol {
        position: absolute;
        top: 125px;
        left: 160px;
        width: 90px;
        height: 8px; }
        .section .section-l .lv-lunbo ol .lv-a {
          background-color: #FF9D00; }
        .section .section-l .lv-lunbo ol li {
          float: left;
          width: 15px;
          height: 8px;
          background: white;
          border-radius: 3px;
          margin-right: 3px; }
          .section .section-l .lv-lunbo ol li:hover {
            background: #FF9D00; }
    .section .section-l .lv-gonglue {
      width: 260px;
      height: 354px;
      margin-top: 40px; }
      .section .section-l .lv-gonglue .gl-a {
        width: 260px;
        height: 36px; }
        .section .section-l .lv-gonglue .gl-a a {
          color: black;
          font-size: 18px;
          color: #333; }
          .section .section-l .lv-gonglue .gl-a a span {
            float: right;
            font-size: 14px;
            color: #999; }
      .section .section-l .lv-gonglue .gl-b {
        width: 260px;
        height: 155px; }
        .section .section-l .lv-gonglue .gl-b img {
          width: 110px;
          height: 155px; }
        .section .section-l .lv-gonglue .gl-b div {
          float: right;
          width: 130px;
          height: 88px; }
          .section .section-l .lv-gonglue .gl-b div a {
            font-size: 22px;
            color: #333; }
            .section .section-l .lv-gonglue .gl-b div a:hover {
              text-decoration: underline; }
          .section .section-l .lv-gonglue .gl-b div p {
            color: #666;
            font-size: 12px;
            line-height: 20px;
            margin-top: 10px; }
        .section .section-l .lv-gonglue .gl-b ul {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 14px; }
          .section .section-l .lv-gonglue .gl-b ul li {
            line-height: 28px; }
            .section .section-l .lv-gonglue .gl-b ul li a {
              color: #FF9D00; }
              .section .section-l .lv-gonglue .gl-b ul li a:hover {
                text-decoration: underline; }
    .section .section-l .lv-huodong {
      width: 260px;
      height: 437px;
      margin-top: 20px; }
      .section .section-l .lv-huodong .hd-a {
        width: 260px;
        height: 36px; }
        .section .section-l .lv-huodong .hd-a a {
          color: black;
          font-size: 18px;
          color: #333; }
          .section .section-l .lv-huodong .hd-a a span {
            float: right;
            font-size: 14px;
            color: #FF9D00; }
      .section .section-l .lv-huodong .hd-b {
        width: 260px;
        height: 390px;
        display: block;
        overflow: hidden; }
        .section .section-l .lv-huodong .hd-b .hd-aaa {
          width: 260px;
          height: 390px;
          display: block; }
          .section .section-l .lv-huodong .hd-b .hd-aaa:hover {
            overflow-x: hidden; }
        .section .section-l .lv-huodong .hd-b a {
          display: block;
          width: 260px;
          height: 50px; }
          .section .section-l .lv-huodong .hd-b a img {
            float: left;
            margin-right: 10px; }
          .section .section-l .lv-huodong .hd-b a div span {
            color: #FF9D00;
            font-size: 14px; }
          .section .section-l .lv-huodong .hd-b a div p {
            font-size: 12px;
            margin-top: 5px;
            color: #333; }
    .section .section-l .jiaru {
      margin-top: 20px; }
      .section .section-l .jiaru .jr-a {
        width: 260px;
        height: 36px; }
        .section .section-l .jiaru .jr-a a {
          color: black;
          font-size: 18px;
          color: #333; }
          .section .section-l .jiaru .jr-a a span {
            float: right;
            font-size: 14px;
            color: #666; }
      .section .section-l .jiaru .jr-b a {
        font-size: 14px;
        color: #666;
        width: 260px;
        display: block;
        line-height: 30px; }
        .section .section-l .jiaru .jr-b a i {
          color: red; }
        .section .section-l .jiaru .jr-b a span {
          margin-left: 50px; }
      .section .section-l .jiaru .jr-b a:hover {
        color: #FF9d00; }
    .section .section-l .zuixin {
      width: 260px;
      height: 227px;
      margin-top: 20px;
      font-size: 12px;
      line-height: 30px; }
      .section .section-l .zuixin h3 {
        font-size: 18px;
        margin-bottom: 20px; }
      .section .section-l .zuixin li a {
        color: #333; }
        .section .section-l .zuixin li a:hover {
          text-decoration: underline; }
  .section .section-r {
    float: right;
    width: 700px;
    height: 2224px;
    font-size: 14px; }
    .section .section-r .baokuan {
      position: relative;
      width: 700px;
      height: 264px; }
      .section .section-r .baokuan h3 {
        font-size: 18px; }
    .section .section-r .bk-shop {
      width: 220px;
      height: 217px;
      margin-top: 15px;
      float: left; }
      .section .section-r .bk-shop:hover h3 {
        background: #F3F3F3;
        margin-top: -36px;
        color: #FF9D00; }
      .section .section-r .bk-shop:hover .ly2 {
        background: #F3F3F3; }
      .section .section-r .bk-shop img {
        width: 220px;
        height: 135px; }
      .section .section-r .bk-shop a {
        display: block;
        position: absolute;
        top: 33px;
        left: 145px;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        color: white;
        padding: 5px 0px 2px 10px;
        background: #ff6155;
        width: 70px;
        height: 16px; }
      .section .section-r .bk-shop .jiage {
        position: absolute;
        top: 134px;
        left: 0px;
        width: 210px;
        height: 35px;
        background: rgba(255, 97, 85, 0.9);
        font-size: 14px;
        color: white;
        line-height: 35px;
        padding-left: 10px; }
        .section .section-r .bk-shop .jiage span {
          font-size: 27px;
          font-weight: bold;
          float: right;
          margin-right: 10px; }
      .section .section-r .bk-shop .lywz {
        position: relative; }
        .section .section-r .bk-shop .lywz h3 {
          z-index: -88px;
          display: block;
          position: absolute;
          top: 0;
          left: 0px;
          font-size: 14px;
          line-height: 22px;
          height: 85px;
          padding: 5px 5px 5px 5px;
          overflow: hidden; }
        .section .section-r .bk-shop .lywz div {
          z-index: 88;
          display: block;
          position: absolute;
          top: 48px;
          left: 0px;
          width: 220px;
          height: 30px;
          line-height: 27px;
          background: white;
          margin-top: 5px; }
          .section .section-r .bk-shop .lywz div i {
            color: #FF9D00;
            float: right; }
          .section .section-r .bk-shop .lywz div span {
            font-weight: bold; }
    .section .section-r .bk-shop2 {
      width: 220px;
      height: 217px;
      margin: 15px;
      float: left; }
      .section .section-r .bk-shop2:hover h3 {
        background: #F3F3F3;
        margin-top: -36px;
        color: #FF9D00; }
      .section .section-r .bk-shop2:hover .ly2 {
        background: #F3F3F3; }
      .section .section-r .bk-shop2 img {
        width: 220px;
        height: 135px; }
      .section .section-r .bk-shop2 a {
        display: block;
        position: absolute;
        top: 33px;
        left: 381px;
        font-weight: bold;
        font-style: italic;
        font-size: 14px;
        color: white;
        padding: 5px 0px 2px 10px;
        background: #ff6155;
        width: 70px;
        height: 16px; }
      .section .section-r .bk-shop2 .jiage2 {
        position: absolute;
        top: 134px;
        left: 235px;
        width: 210px;
        height: 35px;
        background: rgba(255, 97, 85, 0.9);
        font-size: 14px;
        color: white;
        line-height: 35px;
        padding-left: 10px; }
        .section .section-r .bk-shop2 .jiage2 span {
          font-size: 27px;
          font-weight: bold;
          float: right;
          margin-right: 10px; }
      .section .section-r .bk-shop2 .lywz {
        position: relative; }
        .section .section-r .bk-shop2 .lywz h3 {
          z-index: -88px;
          display: block;
          position: absolute;
          top: 0;
          left: 0px;
          font-size: 14px;
          line-height: 22px;
          height: 85px;
          padding: 5px 5px 5px 5px;
          overflow: hidden; }
        .section .section-r .bk-shop2 .lywz div {
          z-index: 88;
          display: block;
          position: absolute;
          top: 48px;
          left: 0px;
          width: 220px;
          height: 30px;
          line-height: 27px;
          background: white;
          margin-top: 5px; }
          .section .section-r .bk-shop2 .lywz div i {
            color: #FF9D00;
            float: right; }
          .section .section-r .bk-shop2 .lywz div span {
            font-weight: bold; }
    .section .section-r .bk-shop3 {
      width: 220px;
      height: 217px;
      margin-top: 15px;
      float: left; }
      .section .section-r .bk-shop3:hover h3 {
        background: #F3F3F3;
        margin-top: -36px;
        color: #FF9D00; }
      .section .section-r .bk-shop3:hover .ly2 {
        background: #F3F3F3; }
      .section .section-r .bk-shop3 img {
        width: 220px;
        height: 135px; }
      .section .section-r .bk-shop3 .lywz {
        position: relative; }
        .section .section-r .bk-shop3 .lywz h3 {
          z-index: -88px;
          display: block;
          position: absolute;
          top: 0;
          left: 0px;
          font-size: 14px;
          line-height: 22px;
          height: 85px;
          padding: 5px 5px 5px 5px;
          overflow: hidden; }
        .section .section-r .bk-shop3 .lywz div {
          z-index: 88;
          display: block;
          position: absolute;
          top: 48px;
          left: 0px;
          width: 220px;
          height: 30px;
          line-height: 27px;
          background: white;
          margin-top: 5px; }
          .section .section-r .bk-shop3 .lywz div i {
            color: #FF9D00;
            float: right; }
          .section .section-r .bk-shop3 .lywz div span {
            font-weight: bold; }
    .section .section-r .section-nav {
      width: 700px;
      height: 36px;
      margin-top: 15px; }
      .section .section-r .section-nav ul li {
        float: left; }
      .section .section-r .section-nav ul .nav1 {
        font-size: 18px;
        line-height: 36px;
        margin-left: 10px; }
        .section .section-r .section-nav ul .nav1 a {
          color: #FF9D00; }
      .section .section-r .section-nav ul .nav2 {
        border: 1px solid #666;
        margin-top: 8px;
        margin-left: 8px; }
        .section .section-r .section-nav ul .nav2 a {
          font-size: 12px;
          line-height: 20px;
          color: #666;
          padding: 0px 10px 0px 8px; }
      .section .section-r .section-nav ul .nav3 {
        margin-left: 20px;
        margin-top: -3px; }
        .section .section-r .section-nav ul .nav3 a {
          font-size: 18px;
          color: #FF9D00;
          line-height: 36px; }
          .section .section-r .section-nav ul .nav3 a img {
            margin-top: -22px;
            margin-right: 10px;
            width: 67px;
            height: 50px; }
      .section .section-r .section-nav ul .nav4 {
        margin-left: 30px; }
        .section .section-r .section-nav ul .nav4 a {
          font-size: 18px;
          color: #333;
          line-height: 36px; }
      .section .section-r .section-nav ul .nav5 a {
        margin-left: 30px;
        color: #FF9D00;
        line-height: 36px; }
        .section .section-r .section-nav ul .nav5 a i {
          color: #FF9D00; }
      .section .section-r .section-nav ul .nav6 {
        margin-left: 20px;
        width: 140px;
        height: 36px;
        background: #FF9d00;
        border-radius: 5px;
        text-align: center;
        line-height: 36px; }
        .section .section-r .section-nav ul .nav6 a {
          font-size: 16px;
          color: white; }
    .section .section-r .nav-xiantiao {
      width: 700px;
      height: 2px;
      background: #999;
      margin-top: 6px; }
    .section .section-r .wenzhang {
      position: relative;
      top: 0px;
      left: -15px;
      width: 700px;
      height: 150px;
      padding: 15px;
      margin-top: 20px; }
      .section .section-r .wenzhang:hover {
        background: #F8F8F8; }
      .section .section-r .wenzhang img {
        float: left; }
      .section .section-r .wenzhang .wz-a {
        width: 455px;
        height: 117px;
        float: left;
        margin-left: 20px; }
        .section .section-r .wenzhang .wz-a:hover .wz-3 {
          color: #FF9D00; }
        .section .section-r .wenzhang .wz-a .wz-3 {
          font-size: 18px;
          color: #333;
          line-height: 26px; }
          .section .section-r .wenzhang .wz-a .wz-3:hover {
            color: #FF9D00; }
        .section .section-r .wenzhang .wz-a .wz-4 {
          font-size: 14px;
          color: #333;
          line-height: 20px; }
        .section .section-r .wenzhang .wz-a .wz-5 {
          float: left;
          width: 455px;
          height: 33px;
          color: #333;
          line-height: 33px;
          margin-top: 15px; }
          .section .section-r .wenzhang .wz-a .wz-5 a {
            color: #333; }
          .section .section-r .wenzhang .wz-a .wz-5 i {
            margin-right: 5px; }
          .section .section-r .wenzhang .wz-a .wz-5 .wz5-one:hover {
            color: #FF9D00; }
          .section .section-r .wenzhang .wz-a .wz-5 .wz5-two {
            color: #FF9D00;
            margin-left: 5px; }
            .section .section-r .wenzhang .wz-a .wz-5 .wz5-two:hover {
              text-decoration: underline; }
          .section .section-r .wenzhang .wz-a .wz-5 span {
            margin-left: 90px; }
          .section .section-r .wenzhang .wz-a .wz-5 img {
            display: block;
            float: right; }
    .section .section-r .fenye {
      width: 700px;
      height: 65px;
      margin-top: 20px; }
      .section .section-r .fenye a {
        padding: 5px;
        padding: 5px 8px;
        font-size: 12px;
        line-height: 65px;
        border-radius: 4px;
        color: #666; }
        .section .section-r .fenye a:hover {
          color: white;
          background: #FF9D00; }
      .section .section-r .fenye span {
        font-size: 12px;
        color: #666; }
      .section .section-r .fenye .fy-one {
        margin-left: 200px; }
      .section .section-r .fenye .fy-two {
        background: #FF9D00; }

/* 页面的主题内容 左右两面 */
/* 广告 */
.guanggao {
  text-align: center; }

/* 广告 */
/* 页面的底部  */
.floot {
  width: 100%;
  height: 552px;
  background: pink;
  margin-top: 30px;
  background: #3c3c3c;
  color: #c2c2c2; }
  .floot .floot-one {
    position: relative;
    top: 40px;
    margin: 0 auto;
    width: 1000px;
    height: 200px; }
    .floot .floot-one ul {
      float: left;
      margin-right: 110px; }
      .floot .floot-one ul li {
        color: #c2c2c2;
        font-size: 12px;
        line-height: 24px; }
        .floot .floot-one ul li h3 {
          font-size: 14px; }
        .floot .floot-one ul li span {
          color: #FF9D00; }
        .floot .floot-one ul li a {
          color: #c2c2c2; }
          .floot .floot-one ul li a:hover {
            color: white; }
    .floot .floot-one .floor-fuwu {
      font-size: 14px;
      line-height: 25px;
      margin-left: 30px; }
    .floot .floot-one .floor-wz {
      position: absolute;
      top: 26px;
      left: 600px; }
    .floot .floot-one .ewm {
      float: right;
      position: absolute;
      top: 0px;
      left: 700px;
      width: 300px;
      height: 150px;
      margin-top: 22px; }
      .floot .floot-one .ewm li {
        margin-left: 20px; }
        .floot .floot-one .ewm li img {
          margin-left: 50px; }
  .floot .floor-two {
    margin: 0 auto;
    width: 1000px;
    height: 110px;
    text-align: center;
    margin-top: 40px; }
    .floot .floor-two h2 {
      font-size: 18px;
      color: #c2c2c2; }
    .floot .floor-two p {
      margin-top: 15px; }
      .floot .floor-two p i {
        margin: 10px; }
    .floot .floor-two .iconfont {
      font-size: 28px; }
  .floot .floor-three {
    margin: 0 auto;
    width: 1000px;
    height: 80px;
    padding: 15px 10px;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2; }
    .floot .floor-three a {
      font-size: 12px;
      color: #c2c2c2;
      margin-right: 12px;
      line-height: 22px; }
  .floot .dibu {
    text-align: center;
    margin-top: 10px; }

/* 页面的底部  */
