@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  margin: 0 auto; }

#container {
  width: 100%;
  height: 2000px; }

/* 列表页面的头部 */
.header {
  width: 1423px;
  height: 650px;
  border: 1px solid red;
  text-align: center;
  margin: 0 auto; }
  .header .bj {
    position: relative; }
    .header .bj img {
      width: 1423px; }
    .header .bj .bj-one {
      position: absolute;
      top: 260px;
      left: 220px;
      width: 360px;
      height: 102px;
      padding: 15px;
      background: rgba(0, 0, 0, 0.4); }
      .header .bj .bj-one h2 {
        color: white;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px; }
      .header .bj .bj-one div {
        margin-bottom: 15px; }
        .header .bj .bj-one div input {
          float: left;
          width: 268px;
          height: 36px;
          padding: 0px 22px;
          border-radius: 4px;
          border-style: none; }
        .header .bj .bj-one div a {
          display: block;
          float: right;
          width: 36px;
          height: 36px;
          background: #ff9d00;
          text-align: center;
          line-height: 36px;
          border-radius: 4px; }
          .header .bj .bj-one div a .iconfont {
            color: white;
            font-size: 26px; }
      .header .bj .bj-one p {
        float: left;
        margin-top: 15px;
        width: 360px;
        height: 16px; }
        .header .bj .bj-one p a {
          color: white;
          font-size: 14px;
          line-height: 16px;
          margin-right: 5px; }
    .header .bj .bj-two {
      position: absolute;
      top: 220px;
      left: 750px;
      width: 535px;
      height: 170px;
      padding: 0px 30px;
      border-right: 7px solid white; }
      .header .bj .bj-two h2 a {
        line-height: 39px;
        font-size: 30px;
        color: #fff; }
        .header .bj .bj-two h2 a:hover {
          color: #ff9d00; }
      .header .bj .bj-two p {
        color: #fff;
        line-height: 28.8px;
        font-size: 16px; }
      .header .bj .bj-two a {
        color: #fff;
        line-height: 32.4px;
        font-size: 18px; }
        .header .bj .bj-two a:hover {
          color: #ff9d00;
          text-decoration: underline; }
    .header .bj .bj-san {
      display: block;
      position: absolute;
      top: 640px;
      left: 700px; }
      .header .bj .bj-san a .iconfont {
        color: white;
        font-size: 20px; }
    .header .bj .bj-si {
      position: absolute;
      top: 640px;
      left: 1200px;
      width: 175px;
      height: 28px; }
      .header .bj .bj-si a {
        float: left;
        color: white;
        padding: 0px 10px; }

/* 列表页面的头部 */
/* 列表的主题部分 */
.section {
  position: relative;
  top: 80px;
  width: 1423px;
  height: 2000px;
  border: 1px solid blue;
  margin: 0 auto;
  text-align: center; }
  .section .biaoti {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1000px;
    margin: 0px 211.5px; }
    .section .biaoti h1 {
      position: absolute;
      top: 42px;
      left: 435px;
      font-size: 26px; }
    .section .biaoti .xxk {
      position: absolute;
      top: 85px;
      left: 0px;
      width: 1000px;
      height: 100%; }
      .section .biaoti .xxk span {
        float: left;
        line-height: 37px;
        color: #eee; }
      .section .biaoti .xxk .xxk-one {
        /*清除li浮动的影响,直接给ul做overflow:hidden*/
        width: 1000px;
        height: 37px;
        margin-left: 125px;
        overflow: hidden;
        list-style: none; }
      .section .biaoti .xxk ul > li {
        float: left;
        height: 37px;
        margin: 0px 22px;
        line-height: 37px; }
        .section .biaoti .xxk ul > li a {
          font-size: 18px;
          color: #333; }
      .section .biaoti .xxk .content {
        margin-top: 40px;
        width: 1000px; }
        .section .biaoti .xxk .content div {
          width: 1000px; }
          .section .biaoti .xxk .content div .con-a {
            float: left;
            width: 470px;
            height: 65px;
            border-bottom: 1px dashed #eee; }
            .section .biaoti .xxk .content div .con-a span {
              color: #333;
              font-size: 14px;
              line-height: 65px;
              margin-right: 10px; }
              .section .biaoti .xxk .content div .con-a span a {
                color: #666; }
            .section .biaoti .xxk .content div .con-a li {
              margin-left: 0px;
              line-height: 65px;
              margin-right: 50px; }
              .section .biaoti .xxk .content div .con-a li a {
                margin-left: 0 auto;
                font-size: 14px; }
          .section .biaoti .xxk .content div .con-b {
            float: right;
            width: 470px;
            height: 65px;
            border-bottom: 1px dashed #eee; }
            .section .biaoti .xxk .content div .con-b span {
              color: #333;
              font-size: 14px;
              line-height: 65px;
              margin-right: 10px; }
              .section .biaoti .xxk .content div .con-b span a {
                color: #666; }
            .section .biaoti .xxk .content div .con-b li {
              margin-left: 0px;
              line-height: 65px;
              margin-right: 50px; }
              .section .biaoti .xxk .content div .con-b li a {
                margin-left: 0 auto;
                font-size: 14px; }
      .section .biaoti .xxk .active a {
        color: #ff9d00; }
      .section .biaoti .xxk .hide {
        display: none; }
      .section .biaoti .xxk .fenglan img {
        margin-left: -150px; }

/* 列表的主题部分 */
